<section class="card">
  <div class="card-header">
    <h1>Insumos</h1>
  </div>
  <div class="card-body">
      <h1>Insumos Descartables</h1>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Armario</th>
      <th scope="col">Descripción</th>
    </tr>
  </thead>
   {{#each insumos}}
  <tbody>
    <tr>
      <th scope="row">{{  @index  }}</th>
      <td>{{ cantidad }}</td>
      <td>{{ armario }}</td>
      <td>{{ descripcion }}</td>
    </tr>
    </tbody>
    {{/each}}
</table>  
  </div>

</section>
