<section class="card">
  <div class="card-header">
    <h1>Insumos</h1>
  </div>
  <div class="card-body">
      <h1>Insumos Descartables</h1>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Armario</th>
      <th scope="col">Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>5300</td>
      <td>07</td>
      <td>Guantes de Examinacion</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>50</td>
      <td>11</td>
      <td>Guantes Esteriles x par Talla 8</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>50</td>
      <td>11</td>
      <td>Guantes Esteriles x par Talla 7.5</td>
    </tr>
  </tbody>
</table>  
  </div>

</section>
