<section class="card">
  <div class="card-header">
    <h1>Insumos</h1>
  </div>
  <div class="card-body">
      <h1>Insumos Descartables</h1>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cantidad</th>
      <th scope="col">COD.</th>
      <th scope="col">Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>12</td>
      <td>33207</td>
      <td>Armario dos puertas corredizas</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>01</td>
      <td>33055</td>
      <td>Cuna con barandas altas rebatibles,</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>01</td>
      <td>33056</td>
      <td>Silla de ruedas Pediatricas</td>
    </tr>
  </tbody>
</table>  
  </div>

</section>
