<section class="card">
  <div class="card-header">
    <h1>Habilidades Clinicas</h1>
  </div>
  <div class="card-body">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, repellat, dolorum dignissimos esse mollitia asperiores debitis laborum sunt, molestias delectus repudiandae perferendis repellendus. Ut amet deleniti quae iste iure et accusamus molestiae repudiandae sequi dolorum impedit quaerat, saepe hic vitae delectus aliquam, possimus ipsum alias consequuntur ex animi minima officia repellendus eius. Totam nisi odio adipisci ullam nam corrupti illo tenetur aperiam! Minima nemo aspernatur minus tenetur deleniti repudiandae quos dolor pariatur molestiae reiciendis, ex dolorem deserunt, tempora quidem fuga porro ab cumque assumenda! Molestiae consequuntur quae adipisci eum necessitatibus ipsum, sint reiciendis aliquid ratione culpa sunt officiis dolore iusto.</p>  
  </div>

</section>
