<div class="jumbotron mt-4">
  <h1 class="display-4">Laboratorio de Simulacion</h1>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express, Mongodb and Javascript Technologies</p>
  <hr class="my-4">
  	<div class="row">
        <div class="col-md-4" id="news">
            <div class="col-heading">NOVEDADES</div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#eventos" data-toggle="tab">Calendario</a></li>
                <li><a href="#noticias" data-toggle="tab">Noticias</a></li>
                <li><a href="#enlaces" data-toggle="tab">Enlaces</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="eventos">
                    <div class="page-header clearfix">
	<div class="pull-right form-inline">
		<div class="btn-group">
			<button class="btn btn-inverse" data-calendar-nav="prev">&lt;</button>
			<button class="btn btn-inverse" data-calendar-nav="next">&gt;</button>
		</div>
	</div>
</div>

<div id="calendar"></div>

<div class="pull-right form-inline">
	<div class="btn-group">
		<button class="btn btn-inverse active" data-calendar-view="month">Mes</button>
		<button class="btn btn-inverse" data-calendar-view="year">A&ntilde;o</button>
	</div>
</div>

<div class="clearfix"></div>
  <a class="btn btn-primary btn-lg" href="#" role="button">UnLam</a>
</div>
