

<head>
    <meta charset='utf-8' />
    <link href='/node_modules/fullcalendar/main.css' rel='stylesheet' />
    <script src='/node_modules/fullcalendar/main.js'></script>
    <!--<link href='/style.css' rel='stylesheet' />-->
    <script src='/src/views/calen.js'></script>

</head>

<body>

    <div id='calendar'></div>

</body>

