<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Sistema de Gestion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/selectable">Inicio <span class="sr-only">(current)</span></a>
          </li>
          {{#if user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Aula <span class="sr-only">(current)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/habilidadesclinicas">Habilidades Clinicas</a>
              <a class="dropdown-item" href="/gabineteenfermeria">Gabinete de Enfermeria</a>
              <a class="dropdown-item" href="/centrosimulacion">Centro de Simulacion</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Equipamiento <span class="sr-only">(current)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/inventario/insumos">Insumos</a>
              <a class="dropdown-item" href="/inventario/moviliario">Moviliario</a>
              <a class="dropdown-item" href="/inventario/simuladores">Simuladores</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/inventario/varios">Varios</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/docs/Planilla de planificacion de Casos Clinicos Centro de Simualción UNLaM.pdf">Planilla <span class="sr-only">(current)</span></a>
          </li>
          {{/if}}
      </ul>
      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Reserva de Turno
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/notes/add">Reservar</a>
              <a class="dropdown-item" href="/notes">Todas las Reservas</a>
              
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/users/logout">Logout</a>
            </div>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/users/signin">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/signup">Registrarse</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
